[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto

[alias]
    co = checkout
    st = status
    ci = commit -av
    df = diff
    br = branch

[user]
	name = nazo
    email = takuya0219@gmail.com

[http]
	sslcainfo = /usr/local/etc/certs/DigiCertHighAssuranceEVRootCA.crt
[core]
	excludesfile = /Users/nazo/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
