[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto

[alias]
    co = checkout
    st = status
    ci = commit -av
    df = diff
    br = branch
    mg = merge --no-ff
    subup = submodule foreach git pull origin master --ff
    showpr = !"f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
    openpr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"

[user]
    name =
    email =

[tig "bind"]
    generic = g move-first-line
    generic = G move-last-line

[branch]
    autosetuprebase = always
[push]
    default = current
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[http]
	cookiefile = ~/.gitcookies
